.forecast {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }

  &__card {
    box-shadow: 
      0 0.5px 0 0 $white inset, 
      0 1px 2px 0 $gray-400
    ;
    display: flex;
    flex: 1 1;
    margin-bottom: $spacer;

    &:first-child {
      @include media-breakpoint-up(lg) {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
    }

    &:last-child {
      @include media-breakpoint-up(lg) {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }

    &:not(:first-child):not(:last-child) {
      @include media-breakpoint-up(lg) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }

  &__icon {
    fill: theme-color('primary');
    height: 2em;
    width: 2em;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    
    @include media-breakpoint-up(sm) {
      flex-direction: column;
    }
  }

  &__summary {    
    @include media-breakpoint-up(sm) {
      margin-bottom: $spacer;
    }
  }
}
