{% extends 'layout.twig' %}

{% block main %}
  <h1>{{ title }}</h1>
  <p>{{ subhead }}</p>
  <form name="forecast" action="" method="POST">
    <label for="zipcode">Zip Code</label>
    <input 
      type="text" 
      name="zipcode"
      id="zipcode"
      placeholder="Enter 5-digit zip code"
      required="required"
      minlength="5"
      maxlength="5"
    />
    <button type="submit">Get Forecast</button>
  </form>
{% endblock %}
