<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    {% block body %}{% endblock %}
    <script src="/js/main.js"></script>
  </body>
</html>
